*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #344151;
    gap: 3rem;
}
.texts{
    color: #0398d4;
    font-size: medium;
    font-weight: 20px;
}
.dec{
    background-color: white;
    display: flex;
    font-size: 25px;
    color: #344151;
    border-radius: 0.125rem;
    gap: 3rem;
    padding: 0.7rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
#counter{
    font-weight: 700;
}
.btnl{
    border-right-width:2px ;
    border-color: rgb(191 191 191);
    padding-right: 1.25rem;
}
.btnr{
    border-left-width:2px ;
    border-color: rgb(191 191 191);
    padding-left: 1.25rem;
}
.icn1{
    padding-left: 20px;
}
.icn2{
    padding-right: 20px;
}